---
layout: base
---

<style>
  .hero img {
    width: 100%;
    border-top-right-radius: var(--ha-card-border-radius, 4px);
    border-top-left-radius: var(--ha-card-border-radius, 4px);
  }
</style>

<div class="ha-card">
  <div class="hero">
    <img
      srcset="
        /images/header-360.png   360w,
        /images/header-720.png   720w,
        /images/header-500.png   500w,
        /images/header-1000.png 1000w
      "
      src="/images/header-500.png"
      alt="Decorative header"
    />
  </div>

  {{ content | safe }}
</div>
